name: Kubernetes Cluster create/destroy

on:
  workflow_dispatch:
    inputs:
      action:
        description: "Action"
        required: true
        type: choice
        options:
          - create
          - destroy

      node_name:
        description: "Proxmox node"
        required: true
        default: proxmox

jobs:
  cluster:
    runs-on: self-hosted

    defaults:
      run:
        working-directory: proxmox/terraform

    env:
      TF_IN_AUTOMATION: true
      TF_VAR_proxmox_api_url: ${{ secrets.PROXMOX_API_URL }}
      TF_VAR_proxmox_api_token: ${{ secrets.PROXMOX_API_TOKEN }}
      TF_VAR_node_name: ${{ github.event.inputs.node_name }}

    steps:
      ############################################################
      # Checkout repository
      ############################################################

      - name: Checkout repo
        uses: actions/checkout@v4

      ############################################################
      # Terraform init
      ############################################################

      - name: Create state directory
        if: github.event.inputs.action == 'create'
        run: mkdir -p /home/ansible/terraform_state/cluster

      - name: Terraform init
        if: github.event.inputs.action == 'create'
        run: terraform init -upgrade -input=false

      ############################################################
      # CREATE MASTER VM (separate state)
      ############################################################

      - name: Create master VM
        if: github.event.inputs.action == 'create'
        run: terraform apply -auto-approve -input=false -state=/home/ansible/terraform_state/cluster/master.tfstate
        env:
          TF_VAR_vm_name: master
          TF_VAR_template_name: ubuntu24-golden
          TF_VAR_vm_memory_mb: 4096
          TF_VAR_disk_size_gb: 32
          TF_VAR_ip_address: 192.168.1.20

      ############################################################
      # CREATE WORKER1 VM (separate state)
      ############################################################

      - name: Create worker1 VM
        if: github.event.inputs.action == 'create'
        run: terraform apply -auto-approve -input=false -state=/home/ansible/terraform_state/cluster/worker1.tfstate
        env:
          TF_VAR_vm_name: worker1
          TF_VAR_template_name: ubuntu24-golden
          TF_VAR_vm_memory_mb: 4096
          TF_VAR_disk_size_gb: 32
          TF_VAR_ip_address: 192.168.1.21

      ############################################################
      # CREATE WORKER2 VM (separate state)
      ############################################################

      - name: Create worker2 VM
        if: github.event.inputs.action == 'create'
        run: terraform apply -auto-approve -input=false -state=/home/ansible/terraform_state/cluster/worker2.tfstate
        env:
          TF_VAR_vm_name: worker2
          TF_VAR_template_name: ubuntu24-golden
          TF_VAR_vm_memory_mb: 4096
          TF_VAR_disk_size_gb: 32
          TF_VAR_ip_address: 192.168.1.22

      ############################################################
      # DESTROY CLUSTER VMs USING TERRAFORM
      ############################################################

      - name: Terraform init (destroy)
        if: github.event.inputs.action == 'destroy'
        run: terraform init -upgrade -input=false

      # Destroy Worker 2
      - name: Destroy worker2 VM
        if: github.event.inputs.action == 'destroy'
        run: terraform apply -destroy -auto-approve -input=false -state=/home/ansible/terraform_state/cluster/worker2.tfstate
        env:
          TF_VAR_vm_name: worker2
          TF_VAR_template_name: ubuntu24-golden
          TF_VAR_vm_memory_mb: 4096
          TF_VAR_disk_size_gb: 32
          TF_VAR_ip_address: 192.168.1.22

      - name: Cleanup worker2 state
        if: github.event.inputs.action == 'destroy'
        run: rm -f /home/ansible/terraform_state/cluster/worker2.tfstate

      # Destroy Worker 1
      - name: Destroy worker1 VM
        if: github.event.inputs.action == 'destroy'
        run: terraform apply -destroy -auto-approve -input=false -state=/home/ansible/terraform_state/cluster/worker1.tfstate
        env:
          TF_VAR_vm_name: worker1
          TF_VAR_template_name: ubuntu24-golden
          TF_VAR_vm_memory_mb: 4096
          TF_VAR_disk_size_gb: 32
          TF_VAR_ip_address: 192.168.1.21

      - name: Cleanup worker1 state
        if: github.event.inputs.action == 'destroy'
        run: rm -f /home/ansible/terraform_state/cluster/worker1.tfstate

      # Destroy Master
      - name: Destroy master VM
        if: github.event.inputs.action == 'destroy'
        run: terraform apply -destroy -auto-approve -input=false -state=/home/ansible/terraform_state/cluster/master.tfstate
        env:
          TF_VAR_vm_name: master
          TF_VAR_template_name: ubuntu24-golden
          TF_VAR_vm_memory_mb: 4096
          TF_VAR_disk_size_gb: 32
          TF_VAR_ip_address: 192.168.1.20

      - name: Cleanup master state
        if: github.event.inputs.action == 'destroy'
        run: rm -f /home/ansible/terraform_state/cluster/master.tfstate

      ############################################################
      # DONE
      ############################################################

      - name: Done
        run: echo "Cluster operation completed successfully"
