name: Proxmox VM create/destroy

on:
  workflow_dispatch:
    inputs:
      action:
        description: "Action to perform"
        required: true
        type: choice
        options:
          - create
          - destroy
        default: create

      template:
        description: "Template to clone from"
        required: true
        type: choice
        options:
          - ubuntu24-golden
          - centos10-stream-golden

      vm_name:
        description: "Name of the VM"
        required: true
        type: string

      ram_mb:
        description: "RAM in MB"
        required: true
        type: number
        default: 2048

      disk_gb:
        description: "Disk size in GB"
        required: true
        type: number
        default: 20

      node_name:
        description: "Proxmox node"
        required: true
        type: string
        default: proxmox


jobs:
  proxmox-vm:
    runs-on: self-hosted

    defaults:
      run:
        working-directory: proxmox/terraform

    env:
      TF_IN_AUTOMATION: "true"

      # Proxmox connection
      TF_VAR_proxmox_api_url: ${{ secrets.PROXMOX_API_URL }}
      TF_VAR_proxmox_api_token: ${{ secrets.PROXMOX_API_TOKEN }}

      # VM variables
      TF_VAR_node_name: ${{ github.event.inputs.node_name }}
      TF_VAR_vm_name: ${{ github.event.inputs.vm_name }}
      TF_VAR_template_name: ${{ github.event.inputs.template }}
      TF_VAR_vm_memory_mb: ${{ github.event.inputs.ram_mb }}
      TF_VAR_disk_size_gb: ${{ github.event.inputs.disk_gb }}


    steps:

      - name: Checkout repository
        uses: actions/checkout@v4


      - name: Terraform init
        run: |
          rm -rf .terraform .terraform.lock.hcl
          terraform init -upgrade -input=false


      - name: Terraform validate
        run: terraform validate


      - name: Terraform apply (create)
        if: ${{ github.event.inputs.action == 'create' }}
        run: terraform apply -auto-approve -input=false


      - name: Terraform destroy
        if: ${{ github.event.inputs.action == 'destroy' }}
        run: terraform destroy -auto-approve -input=false


      - name: Show outputs
        if: ${{ github.event.inputs.action == 'create' }}
        run: terraform output
